@import "../variables.css";

.mainContainer {
    padding: 1rem 0 1rem 0;
}

.iconWrapper {
    width: 50%;
    min-width: 14rem;
    font-size: 7rem;
    /* border: 1px solid red; */
    padding-top: 1rem;
    background: var(--accent-gradient);
    border-radius: 6rem;
}

.cardInfo {
    border-radius: 1rem;
    background: rgba(128, 128, 128, 0.1);
    width: calc(100% - 2rem);
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    opacity: 0.8;
    backdrop-filter: blur(0.5rem);
    transition:
        opacity 0.2s ease-out,
        transform 0.2s ease-out;
}

.cardInfo:hover {
    opacity: 1;
    transform: scale(1.02, 1.02);
}

.cardInfo h3 {
    font-size: 3rem;
    margin: 0;
}

.cardInfo p {
    margin: 0;
}
