@import "../variables.css";

.mainContainer {
    padding: 2rem;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 3rem;
    width: max-content;
}

.mainContainer h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.fileInfo button {
    border-radius: 2rem;
    padding: 1rem;
    min-width: 6rem;
    border: none;
    font-weight: bold;
    margin: 0.5rem;
    cursor: pointer;
}

.fileInfo p {
    margin: 0;
    opacity: 0.9;
    font-size: 0.9rem;
}

.downloadButton {
    background: var(--accent-gradient);
}

.expanded {
    position: fixed;
    width: 30%;
    height: 50%;
}
